# Server Configuration
PORT=5002

# ZKTeco Device Configuration
DEVICE_IP=xxx
DEVICE_PORT=xxx
DEVICE_TIMEOUT=xxx
DEVICE_UDP_PORT=xxx

# API Configuration
API_BASE_URL=xxx
API_VERSION=v1
SCHOOL_ID=xxx
TERMINAL_SN=TERM-12345

# Device Connection Control
DEVICE_CONNECTED=false
